# Git
.git
.gitignore
.gitattributes

# Node
node_modules
npm-debug.log

# Laravel
/vendor
/storage/*.key
/storage/logs
/storage/framework
.env
.env.backup
.env.production

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
/coverage
/.phpunit.cache

# Documentation
README.md
CHANGELOG.md
